@if (items().length > 0) {
<table class="article-table">
    <thead>
        <th>Foto</th>
        <th>Produkt</th>
        <th>Anzahl</th>
        <th>Preis</th>
        <th></th>
    </thead>
    <tbody>
        @for (item of items(); track $index) {
        <tr>
            <td>
                <img class="image" [src]="item.img">
            </td>
            <td>{{ item.label }}</td>
            <td>
                <div class="amount-container">
                    <span [class.last-item]="item.amount === 1" (click)="changeAmount(item, -1)">-</span>
                    <span class="amount">{{ item.amount }}</span>
                    <span (click)="changeAmount(item, 1)">+</span>
                </div>
            </td>
            <td>{{ item.price }} CHF</td>
            <td>
                <div class="delete" (click)="emitRemoveItem(item)">
                    <svg viewBox="-0.625 -0.625 24 24" xmlns="http://www.w3.org/2000/svg">
                        <path
                            d="m19.90625 4.265625 -1.717625 16.312697916666664A1.8958333333333333 1.8958333333333333 0 0 1 16.304166666666664 22.276041666666664H6.445833333333333a1.8958333333333333 1.8958333333333333 0 0 1 -1.88540625 -1.69771875L2.84375 4.265625"
                            fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"
                            stroke-width="1.25"></path>
                        <path d="m0.4739583333333333 4.265625 21.802083333333332 0" fill="none" stroke="currentColor"
                            stroke-linecap="round" stroke-linejoin="round" stroke-width="1.25"></path>
                        <path
                            d="M7.109375 4.265625v-2.84375a0.9479166666666666 0.9479166666666666 0 0 1 0.9479166666666666 -0.9479166666666666h6.635416666666666a0.9479166666666666 0.9479166666666666 0 0 1 0.9479166666666666 0.9479166666666666v2.84375"
                            fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"
                            stroke-width="1.25"></path>
                        <path d="m11.375 8.53125 0 9.953125" fill="none" stroke="currentColor" stroke-linecap="round"
                            stroke-linejoin="round" stroke-width="1.25"></path>
                        <path d="M15.640625 8.53125 15.166666666666666 18.484375" fill="none" stroke="currentColor"
                            stroke-linecap="round" stroke-linejoin="round" stroke-width="1.25"></path>
                        <path d="M7.109375 8.53125 7.583333333333333 18.484375" fill="none" stroke="currentColor"
                            stroke-linecap="round" stroke-linejoin="round" stroke-width="1.25"></path>
                    </svg>
                </div>
            </td>
        </tr>
        }
    </tbody>
    <tfoot>
        <tr>
            <td colspan="3">Total</td>
            <td colspan="1">{{ totalCost() }} CHF</td>
        </tr>
    </tfoot>
</table>
<div class="buttons"></div>
} @else {
<span class="empty text-bold">Ihr Warenkorb ist leer.</span>
}