<div class="bg-image image-1" [style.background-position-y]="scrollOffset">
    <div class="caption">
        <span class="border text-bold">Hofladen</span>
    </div>
    <div class="zeiten-container">
        <h1 class="text-bold">Öffnungszeiten</h1>
        <div class="list">
            <div class="tage">
                <span>Montag:</span>
                <span>Dienstag:</span>
                <span>Mittwoch:</span>
                <span>Donnerstag:</span>
                <span>Freitag:</span>
                <span>Samstag:</span>
                <span>Sonntag:</span>
            </div>
            <div class="zeiten">
                <span>11:00-20:00</span>
                <span>08:00-20:00</span>
                <span>08:00-20:00</span>
                <span>08:00-20:00</span>
                <span>08:00-20:00</span>
                <span>08:00-20:00</span>
                <span>08:00-20:00</span>
            </div>
        </div>
    </div>
</div>
<div class="content">
    <div class="text-1">
        <h1 class="text-bold">Lohnenswertes vom Hofladen</h1>
        <span class="text-normal">
            Im Hofladen verkaufen wir alles direkt Vorort. Es gibt ein selbstständigen Zahlungssystem. Frische Früchte
            und Gemüse kann man nur direkt im Hofladen beziehen...
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt
            ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
            aliquip ex ea commodo consequat.
        </span>
    </div>
    <div class="map-container">
        <h1 class="text-bold">Standort</h1>
        <div class="map"></div>
    </div>
</div>