.bg-image {
    background-image: url(../../assets/images/background.jpg);
    background-repeat: repeat-y;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
    opacity: 0.9;
    width: 100%;
    min-height: 100dvh;
    padding: 20dvh 0 10dvh;
}

.content {
    display: flex;
    align-items: center;
    flex-direction: column;
    opacity: 1;

    .title {
        user-select: none;
        color: var(--color-text-dark);
        font-size: 3rem;
        letter-spacing: 0.1rem;
        margin-bottom: 2.5dvh;
    }

    .header {
        width: 80dvw;
        height: 3rem;
        background-color: var(--color-background);
        border-radius: 6px 6px 0 0;

        display: flex;
        align-items: center;

        .search {
            font-family: "Poppins", sans-serif;
            border: 1px solid var(--color-text-dark);
            border-radius: 6px;
            line-height: 1rem;
            padding: 0.25rem 0 0.25rem 0.5rem;
            margin-left: 0.75rem;
        }
    }

    .container {
        display: flex;
        justify-content: center;
        background-color: var(--color-background);
        width: 80dvw;
        border: 1px solid var(--color-green);
    }
}