<div class="bg-image image-1" [style.background-position-y]="scrollOffset">
    <div class="caption">
        <span class="caption-text text-bold">Biohof Rinisgmünde</span>
    </div>
    <div #arrow class="arrow">
        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" height="24" width="24">
            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"
                d="M0.729984 5.756544L11.632512 18.078143999999998C11.827487999999999 18.29856 12.171456 18.29856 12.366527999999999 18.078143999999998L23.270016 5.756544"
                stroke-width="2"></path>
        </svg>
    </div>
</div>
<div class="text-1">
    <h1 class="text-bold">Der Hof kurz erklärt</h1>
    <span class="text-normal">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt
        ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
        aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu
        fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit
        anim id est laborum.
    </span>
</div>
<div class="bg-image image-2">
    <div class="text-2">
        <h1 class="text-bold">Unsere Werte</h1>
        <ul class="text-normal">
            <li>Nachhaltigkeit</li>
            <li>Umweltschutz</li>
            <li>Tierwohl</li>
            <li>Natürliche Vielfalt und Artenreichtum</li>
            <li>Transparenz und Offenheit gegenüber Verbrauchern</li>
            <li>Gesunde Lebensmittelproduktion ohne chemische Zusätze</li>
            <li>Unterstützung lokaler Gemeinschaften und Wirtschaft</li>
        </ul>
    </div>
</div>