:host {
    height: 3rem;
    background-color: var(--color-brown);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.5rem 1.5rem 0.5rem 0.5rem;
    gap: 2rem;
}

.logo-container {
    cursor: pointer;
    background-color: var(--color-background);
    padding: 0.15rem;
    border-radius: 50%;

    .logo {
        width: 2.75rem;
        height: 2.75rem;
        object-fit: contain;
    }
}

.navigations {
    display: flex;
    align-items: center;
    gap: 3rem;

    .link {
        display: inline-block;
        position: relative;
        color: var(--color-text-light);
        font-size: 1.125rem;

        &::after {
            content: '';
            position: absolute;
            width: 100%;
            transform: scaleX(0);
            height: 2px;
            bottom: 0;
            left: 0;
            background-color: var(--color-text-light);
            transform-origin: bottom right;
            transition: transform 0.25s ease-out;
        }

        &:hover {
            cursor: pointer;

            &::after {
                transform: scaleX(1);
                transform-origin: bottom left;
            }
        }
    }
}