<div class="logo-container">
    <img class="logo" src="../../assets/images/Icon_Biohof_Rinisgmuende.png" routerLink="/home">
</div>
<div class="navigations">
    <p class="link underline-hover" routerLink="/home" routerLinkActive="active">Home</p>
    <p class="link underline-hover" routerLink="/hofladen" routerLinkActive="active">Hofladen</p>
    <p class="link underline-hover" routerLink="/produkte" routerLinkActive="active">Produkte</p>
    <p class="link underline-hover" routerLink="/fotos" routerLinkActive="active">Fotos</p>
    <p class="link underline-hover" routerLink="/ueber-uns" routerLinkActive="active">Über uns</p>
    <p class="link-button" routerLink="/bestellen" routerLinkActive="active">Online Hofladen</p>
</div>