<div class="logo-container">
    <img class="logo" src="../../assets/images/Icon_Biohof_Rinisgmuende.png" routerLink="/home">
</div>
<div class="navigations">
    <p class="link" routerLink="/home" routerLinkActive="active">Home</p>
    <p class="link" routerLink="/hofladen" routerLinkActive="active">Hofladen</p>
    <p class="link" routerLink="/fleisch" routerLinkActive="active">Fleisch</p>
    <p class="link" routerLink="/geschenkkoerbe" routerLinkActive="active">Geschenkkörbe</p>
    <p class="link" routerLink="/fotos" routerLinkActive="active">Fotos</p>
    <p class="link" routerLink="/ueber-uns" routerLinkActive="active">Über uns</p>
</div>