:host {
    height: 3rem;
    width: -webkit-fill-available;
    background-image: linear-gradient(rgba(var(--color-brown-rgb), 0.6) 20%, rgba(0, 0, 0, 0) 50%);
    background-size: auto 200%;
    background-position-y: center;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.5rem 1.5rem 0.5rem 0.5rem;
    gap: 2rem;
    position: fixed;
    z-index: 100;
    transition: all 0.3s;

    &.collapsed {
        transform: translateY(-100%);
    }

    &.highlighted {
        background-position-y: top;
    }
}

.logo-container {
    cursor: pointer;
    background-color: var(--color-background);
    padding: 0.15rem;
    border-radius: 50%;
    width: 2.75rem;
    height: 2.75rem;

    .logo {
        width: 2.75rem;
        height: 2.75rem;
        object-fit: contain;
    }
}

.navigations {
    display: flex;
    align-items: center;
    gap: 3rem;
    user-select: none;

    .link {
        display: inline-block;
        position: relative;
        color: var(--color-text-light);
        font-size: 1.125rem;
    }

    .link-button {
        cursor: pointer;
        background-color: var(--color-blue);
        border: none;
        padding: 0.75rem;
        color: var(--color-text-light);
        font-size: 1.125rem;
        border-radius: 6px;
        transition: background-color 0.3s;

        &:hover {
            background-color: var(--color-green-dark);
        }
    }

    .underline-hover {
        &::after {
            content: '';
            position: absolute;
            width: 100%;
            transform: scaleX(0);
            height: 2px;
            bottom: 0;
            left: 0;
            background-color: var(--color-text-light);
            transform-origin: bottom right;
            transition: transform 0.25s ease-out;
        }

        &:hover {
            cursor: pointer;

            &::after {
                transform: scaleX(1);
                transform-origin: bottom left;
            }
        }

        &.active {
            color: var(--color-green);

            &::after {
                background-color: var(--color-green);
                transform: scaleX(1);
                transform-origin: bottom left;
            }
        }
    }
}