* {
    --color-background: #fefdf9;
    --color-background-rgb: 254, 253, 249;
    --color-text-light: #fefdf9;
    --color-text-dark: #19200c;
    --color-brown: #675d39;
    --color-brown-rgb: 103, 93, 57;
    --color-green: #96BB4D;
    --color-green-rgb: 150, 187, 77;
    --color-green-dark: #87a846;
    --color-blue: #002A32;
    --color-blue-rgb: 0, 42, 50;
    --color-grey: #c7c7c7;
}

body {
    margin: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    background-color: var(--color-background);
}

// Font

.text-normal {
    font-weight: 500;
    font-style: normal;
}

.text-semibold {
    font-weight: 600;
    font-style: normal;
}

.text-bold {
    font-weight: 700;
    font-style: normal;
}

.text-normal-italic {
    font-weight: 500;
    font-style: italic;
}

.text-semibold-italic {
    font-weight: 600;
    font-style: italic;
}

.text-bold-italic {
    font-weight: 700;
    font-style: italic;
}

h1 {
    font-size: 1.75rem;
    margin: 0 0 0.5rem;
    line-height: 1.75rem;
}

// Scrollbar

/* width */
::-webkit-scrollbar {
    width: 0.375rem;
}

/* Track */
::-webkit-scrollbar-track {
    background: transparent;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: rgba(var(--color-brown-rgb), 0.6);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: rgba(var(--color-brown-rgb), 0.9);
}