* {
    --color-background: #fefdf9;
    --color-background-rgb: 254, 253, 249;
    --color-text-light: #fefdf9;
    --color-text-dark: #19200c;
    --color-brown: #675d39;
    --color-brown-rgb: 103, 93, 57;
    --color-green: #96BB4D;
}

body {
    margin: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    background-color: var(--color-background);
}

// Font

.text-normal {
    font-weight: 500;
    font-style: normal;
}

.text-semibold {
    font-weight: 600;
    font-style: normal;
}

.text-bold {
    font-weight: 700;
    font-style: normal;
}

.text-normal-italic {
    font-weight: 500;
    font-style: italic;
}

.text-semibold-italic {
    font-weight: 600;
    font-style: italic;
}

.text-bold-italic {
    font-weight: 700;
    font-style: italic;
}